@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button { cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.char::first-letter { text-transform: capitalize; } 
.transition { 
  transition: .5s color ease;
  -moz-transition: .5s color ease;
  -webkit-transition: .5s color ease;
  -o-transition: .5s color ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1400px;
  width: 69.65%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { 
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
 }

.header-top {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 { flex-basis: 45%; }

.header-top form { 
  display: flex;
  flex-basis: 31.5%;
 }

 .header-top form div:nth-child(1) { width: 100%; }

.header-top input {
  box-sizing: border-box;
  width: 100%;
  padding: 11px 0 10px 2%;
  font-size: 15px;
  outline: none;
}

.header-top input::placeholder { text-transform: capitalize; }

.header-top button {
  padding: 13px 19px;
  border: none;
  background-color: #009FE3; 
  color: #fff;
  font-size: 14px;
}

.ham { display: none; }
nav {background-image: linear-gradient(to right,#007DC5,#0073BD, #0073BD);}

nav ul { 
  padding: 11px 0 11px 2% ;
  display: flex; 
}

nav li { 
  padding-right: calc(2% - 3px);
  border-right: 1px solid #009FE3;
  margin-right: calc(2% - 3px);
  white-space: nowrap;
} 

nav li:last-child { border-right: 0; }

nav li a { 
  color: #fff;
  font-size: 16px;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styles starts here */
.banner { position: relative; }

.banner-content {
  position: absolute;
  bottom: 10%;
  left: 37%;
  transform: translate(-50%, -50%);
}

h2 {
  font-size:46px;
  color: #fff;
  margin-bottom: 12px;
}

.banner-content p{
  width: 90%;
  color: #6CD8FF;
  font-size: 35px;
  font-weight: 200;
}
/* banner styles ends here */
/* sign up styles starts */
.sign { margin: 40px 0 140px; }

.sign-head a {
  color: #4a4a4a;
  font-size: 14px;
}

.sign-head span::before {
  content: "\f105";
  margin-right: 4%;
  font-family: fontAwesome;
}

.sign-head span {
  width: 40%;
  margin-left: 1%;
  display: inline-block;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: bold;
}

h3 {
  margin: 26px 0 18px;
  color: #005FAA;
  font-size: 37px;  
  font-weight: 300;
}

label { 
  margin: 25px 0 12px; 
  display: block;
  color: #4a4a4a;
  font-size: 16px;
 }

select,
.sign input { 
  width: 32%;
  padding: 12px 0 ;
  border-radius: 5px;
  display: block; 
  box-shadow: inset 0 0 2px #4a4a4a;
  outline: none;
}

select {
  background-color: #009FE3;
  color: #fff;
  font-size: 16px;
}

input[type="checkbox"] {
  width: initial;
  display: inline;
  padding: 0;
}

input[type="submit"] {
  width: initial;
  padding: 15px 64px;
  border: 1px solid #007DC5;
  background-color: #007DC5;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
  transition: .5s color ease, .5s background-color ease;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #007DC5;
}

.options label { margin: 5px 0 ; }
.options { margin-bottom: 30px;  }

.error {
  display: block;
  color: #ff0000;
  font-size: 12px;
}

.sign p {
  margin: 20px 0 ;
  color: #4a4a4a;
  font-size: 16px;
  line-height: 20px;
}

.sign p a { color: #009FE3; }
.sign p a:hover { text-decoration: underline; }

/* sign up styles ends */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
.footer-top { background-image: linear-gradient(to right,#025BA4,#1C3365); }
.footer-top .wrapper {  display: flex; }

.footer-logo,
.footer-nav,
.update {
  margin: 52px 0 70px;
  flex-basis: 25%;
}

.footer-logo,
.footer-nav { margin-right: auto; }

h4 { 
  padding: 10px;
  border-bottom: 1px solid #0073BD; 
  margin-bottom: 10px;
}

.footer-logo p,
.footer-logo a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
}

h5 { 
  margin-bottom: 26px;
  color: #fff;
  font-size: 18px;
}


.footer-nav ul {
  display: flex;
  flex-direction: column;
}

.footer-nav ul li { margin-bottom: 4px; }
.footer-nav ul a {  color: #fff; }
.footer-nav ul a:hover { color: #009FE3; }
.update ul { display: flex; }
.update li { flex-basis: 20%}
.update li { margin-right: auto; }
.update li:last-child { margin-right: 0; }

.linked,
.twitter,
.youtube,
.facebook { text-indent: -9999px; }

.linked::before,
.twitter::before,
.youtube::before,
.facebook::before {
  content: "\f09a";
  padding: 10px;
  border-radius: 50%;
  float: right;
  background-color: #fff;
  color: #005FAA;
  font-family: fontAwesome;
  font-size: 25px;
  text-indent: 0;
  transition: .5s opacity ease;
  -moz-transition: .5s opacity ease;
  -webkit-transition: .5s opacity ease;
  -o-transition: .5s opacity ease;
}

.linked:hover::before,
.twitter:hover::before,
.youtube:hover::before,
.facebook:hover::before { opacity : .8; }

.linked::before { 
  content: "\f0e1"; 
  color: #007DC5;
}
.twitter::before { 
  content: "\f099"; 
  color: #009FE3;
}

.youtube::before { 
  content: "\f04b"; 
  color: #ff0000; 
}

.footer-bottom { 
  padding: 12px;
  background-color: #024780;
}

.footer-bottom .wrapper { 
  display: flex; 
  justify-content: space-between;
  align-items: center;
}


.terms { display: flex; }

.terms li { 
  white-space: nowrap;
  border-right: 1px solid #fff;
  padding-right: 2%; 
  margin-right: 2%;
 }

 .terms li:last-child { border-right: 0; }

.terms a { 
  color: #fff;
  font-size: 14px;
}

.terms a:hover { color: #009FE3; }

.footer-bottom span {
  display: inline-block; 
  color: #fff;
  font-size: 14px;
}


.to-top a { 
  position: fixed;
  right: 2%;
  bottom: 20px;
  text-indent: -9999px;
}

.to-top a::before {
  content: "\f106";
  padding: 10px;
  border-radius: 50%;
  float: right;
  background-color: #001120;
  color: #fff;
  font-family: fontAwesome;
  font-size: 40px;
  font-weight: bold;
  text-indent: 0;
  transition: .5s color ease, .5s background-color ease;
  -moz-transition: .5s color ease, .5s background-color ease;
  -webkit-transition: .5s color ease, .5s background-color ease;
  -o-transition: .5s color ease, .5s background-color ease;
}

.to-top a:hover::before{
  background-color: #000;
  color: #4FC7F3;
}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  .wrapper { width: 87%; }
  header {  width: 100%; }
  
  h1 { 
    flex-basis: 100%; 
    text-align: center;
  }
  
  .header-top form { 
    display: none;
    flex-basis: 31.5%;
   }
  
  .ham {
    width: 35px;
    height: 100%;
    padding: 10px 0 ;
    float: left;
    position: relative;
    display: block;
  }
  
   .ham span {
    width: 35px;
    height: 4px;
    margin: 5px 0;
    display: block;
    background: #fff;
    text-indent: -99999px;
    transition:  0.5s ease;
   }
   
    .open .bar-two { display: none; }
    .open .bar-one { transform: rotate(45deg) translatex(7px); }
    .open .bar-three { transform: rotate(-45deg) translatex(7px); }

  nav {
    padding:  0 0 50px 0;
    background-color: #009FDA;
  }
    
  nav ul { 
    padding: 0 ;
    display: none; 
  }
  
  nav li { 
    width: 100%;
    padding: 10px 0; 
    padding-right: 0;
    border-right:0;
    border-bottom: 1px solid #fff;
    margin: 10px 0;
    margin-right: 0;
    display: block;
    text-align: center;
    white-space: nowrap;
  } 
  
  nav li a { 
    display: block;
    color: #fff;
    font-size: 16px;
  }

  .banner-content {
    width: 100%;
    bottom: 10%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }

  .banner-content p {
    width: 100%;
    font-size: 22px;
    font-weight: 200;
  }
  input[type="submit"],
  select { width: 100%; }

  input[type="submit"]:hover { 
    background-color: #007DC5; 
    color: #fff;
  }

  .sign p a:hover { text-decoration: none; }
  .footer-top .wrapper { flex-wrap: wrap; }

  .footer-logo, .footer-nav, .update {
    border-bottom: 1px solid #fff;
    margin: 10px 0 30px;
    flex-basis: 100%;
    text-align: center;
  }

  h4 { display: inline-block; }
  .footer-logo { padding: 45px 0;}
  .footer-logo p { display: block; }
  .footer-nav { padding-bottom: 20px; }

  .update { 
    padding-bottom: 34px; 
    border-bottom: 0;
    margin: 0 auto;
    flex-basis: 30%; 
  }

  .footer-bottom { 
    padding: 12px 0;
    background-color: #024780;
    text-align: center;
  }
  
  .footer-bottom .wrapper { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .terms { 
    display: flex;
    flex-direction: column; 
  }
  
  .terms li { 
    padding-right: 0; 
    border-right: 0;
    margin-right: 0;
    margin-bottom: 5px ;
   }
  
  .terms li:last-child { margin-bottom: 15px; }
  .terms a:hover { color: #fff; }
  
  .to-top a::before {
    padding: 10px;
    font-size: 30px;
  }
  
  .to-top a:hover::before{
    background-color: #001120;
    color: #fff;
  }

}  
/*media query for 995px ends here*/
/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

}  
/*media query for 768px ends here*/
